body{
    background: darkslategray;
    font-family: sans-serif;
}

.scroll_bar{
     height : 200px; 
     overflow-y: scroll;
}

.chat_name{
    margin: 3px;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px black ;
    border: double;
    
}



.chat_msg{
    border : solid black 1px;
    margin : 4px;
    text-align: center;
    font-size: small;
    border-radius: 25px;
    word-wrap: break-word;
    padding-top: 5px;

}

.sent_by_me{
    background: lightskyblue;
}

.sent_by_others{
    background: lightseagreen;
}

section{
    float: right;
}


.top_nav_bar{
    float: top;
    background: black;
    padding: 10px;
    border: double red 4px;
    border-radius: 20px;
}

.navbar_button{
    border-radius: 25px;
    padding: 5px;
    background-color: red;
    border-radius: 20px;
}





.chats_bar{
    padding: 40px;
    margin: 10px;
    float: left;
    background: lightblue;
    list-style-type: none;
    width: 150px;
    height: 250px;
    position: relative;
    border:double 5px red;
    border-radius: 25px;
}




footer{
    background-color:transparent;
    color:black;
    clear:both;
    text-align:center;
    position:sticky;
    font-size: x-small;
    margin: 10px;
    padding: 10px;
}

.chat_input_bar{
    background-color:transparent;
    clear:both;
    text-align:center;
    position:sticky;
    display: flex; 
    flex-direction: row;
    float: right;
    margin : 10px;
}


.text_input_box{
    border-radius: 25px;
    padding: 5px;
}

.awesome_button{
    border-radius: 25px;
    padding: 5px;
}


.center{
    text-align: center;
}




.footer{
    float: bottom;
    background: black;
    padding: 10px;
    border: double red 4px;
    color: red;
    border-radius: 20px;
    margin: 10px;
}

