.scroll_bar{
     height : 200px; 
     overflow-y: scroll;
}


.chat_name{
    border: solid black 1px;
    margin: 3px;
    padding: 3px;
    text-align: center;

}

.chat_msg{
    border : solid black 1px;
    padding-right: 250px;
    padding-left: 250px;
    margin : 4px;
    text-align: center;
    font-size: small;
    
}

section{
    float: right;
}

nav{
    padding: 10px;
    margin: 0px;
    float: left;
    background: chocolate;
    list-style-type: none;
}


footer{
    background-color:transparent;
    color:white;
    clear:both;
    text-align:center;
    position:sticky;
    
}


.honeypot{
  color: transparent;
  font-size: 0px;
  background-color: transparent;
  background: transparent;
  display: none;
  visibility: hidden;
}

