<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/stylesheets/style.css')}}">
    <title>About</title>
</head>

<body>


    <h1>{{lang['privacy']}}</h1>

    <h2>{{lang['what_i_need_question']}}</h2>

    <p>{{lang['what_i_need_answer']}}</p>

    <h2>{{lang['what_cookies_question']}}</h2>
    
    <p>{{lang['what_cookies_answer']}}</p>

    
    <h1>{{lang['license']}}</h1>

    <p>{{lang['license_notice']}}</p>

    
    <p>
        {{lang['license_terms_obtain']}}
        <br>
        <a href="https://www.gnu.org/licenses/gpl-3.0.html">https://www.gnu.org/licenses/gpl-3.0.html</a>
    </p>

    <p>
        {{lang['source_code_at']}}
        <br>
        <a href="https://github.com/aiman-al-masoud/Chatnip">https://github.com/aiman-al-masoud/Chatnip</a>
    </p>


    <h1>{{lang['how_it_works']}}</h1>
    <p>Lorem ipsum dolor...</p>

    <br>

    <a href="/">{{lang['homepage']}}</a>
    

    {% include "footer.html" %}



</body>

</html>