<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/stylesheets/style.css')}}">
    <title>Welcome</title>
</head>
<body class="center">
    


    <h1>Welcome to Chatnip!</h1>

    <p>Chatnip is a minimalist instant messenger.</p>

    <p><em>Enjoy!</em></p>

    <a href="/login_page">Login/Sign-up</a>
    <br>
    <br>
    <a href="/about">More About Us</a>


</body>
</html>