<select name="select_language" id="select_language">
    <!--Put a template-for here, for each lang pack file-->
    <option value="english">english</option>
    <option value="italian">italian</option>
</select>


<script src="{{url_for('static', filename='/scripts/cryptico/cryptico.min.js')}}"> </script>
<script src="{{url_for('static', filename='/scripts/apis.js')}}"> </script>
<script>
    document.getElementById("select_language").addEventListener("change", function () {
        setCookie("language", document.getElementById("select_language").value)
        document.location.href=""
    })
    window.addEventListener("load", function () {
        document.getElementById("select_language").value = getCookie("language")
    })
</script>
