<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/stylesheets/style.css')}}">

</head>

<body>


    Username:
    <br>
    <input type="text" name="username" id="input_username">
    <br>
    Password:
    <br>
    <input type="password" name="input_password" id="input_password">
    <br>
    <br>
    <input id="button_login" type="button" value="Login">
    <br>

    <p>Don't have an account yet? <a href="/signup_page">Sign Up</a> </p>
    <br>
    <a href="/">Homepage</a> 


    <script src="{{url_for('static', filename='/scripts/cryptico/cryptico.min.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/apis.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/login_page.js')}}"> </script>


</body>

</html>