<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/stylesheets/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icons/favicon.ico')}}">


</head>

<body class="center">

    <h1>{{lang['app_name']}}</h1>
    <br>
    <br>
    <br>


    <h3>{{lang["username"]}}:</h3>
    <input type="text" name="username" id="input_username" class="text_input_box">
    <br>
    <h3>{{lang["password"]}}:</h3>
    <input type="password" name="input_password" id="input_password" class="text_input_box"> 
    <br>
    <br>



    <div id="div_wrong_keypass" hidden style="display: none;" >
        <h3>Passphrase for crypto key-pair not found and/or incorrect!</h3>
        
        <h4>Input it here:</h4>

        <em>You can click on 'Check', to see if it matches with your public-key stored on our servers.</em>
        
        <br>
        <br>

        <input id="input_keypass" type="password" class="text_input_box"/>
        <input id="button_check_keypass" type="button" value="Check" class="awesome_button"/>
        
        <p id="check_results"></p>

        <br>
        <br>
        <em>If you forgot your passphrase, you can log-in anyway. But you'll have to reset it from settings, and you'll LOSE any message currently in your inbox.</em>

        <br>
        <br>
    </div>

    


    <input id="button_login" type="button" value="Login" class="awesome_button">
    <br>

    <p>{{lang["dont_have_an_account_yet"]}} <a href="/signup_page">{{lang["signup"]}}</a> </p>
    <br>
    <a href="/">{{lang["homepage"]}}</a> 


    {% include "footer.html" %}


    <script src="{{url_for('static', filename='/scripts/cryptico/cryptico.min.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/apis.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/login_page.js')}}"> </script>


</body>

</html>