<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/stylesheets/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icons/favicon.ico')}}">


</head>

<body class="center">


    {{lang["username"]}}:
    <br>
    <input type="text" name="username" id="input_username" class="text_input_box">
    <br>
    {{lang["password"]}}:
    <br>
    <input type="password" name="input_password" id="input_password" class="text_input_box"> 
    <br>
    <br>
    <input id="button_login" type="button" value="Login" class="awesome_button">
    <br>

    <p>{{lang["dont_have_an_account_yet"]}} <a href="/signup_page">{{lang["signup"]}}</a> </p>
    <br>
    <a href="/">{{lang["homepage"]}}</a> 


    {% include "footer.html" %}


    <script src="{{url_for('static', filename='/scripts/cryptico/cryptico.min.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/apis.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/login_page.js')}}"> </script>


</body>

</html>