<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/stylesheets/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icons/favicon.ico')}}">
    <title>Settings</title>
</head>
<body>

    {% include "navbar.html" %}
    
    <h1>{{lang["account_settings"]}}</h1>


    <h2>{{lang["avatar_set"]}}</h2>

    <form id="form_upload_avatar" name="form_upload_avatar" action="/upload_avatar" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" id="avatar" class="awesome_button" required>
        <input hidden style="display: none;" id="submit_avatar" type="submit" value="{{lang['avatar_change']}}" class="awesome_button">
        
        <br>
        <br>
        <input id="button_delete_avatar" type="button" value="{{lang['avatar_delete']}}" class="dangerous_button">
    </form>



    <h2>Reset Password</h2>

    {{lang["password_old"]}}
    <br>
    <input type="password" id="input_old_password" class="text_input_box">
    <br>
    {{lang["password_new"]}}
    <br>
    <input type="password" id="input_new_password" class="text_input_box">
    <br>
    <input class="awesome_button" type="button" value="{{lang['password_reset']}}" id="button_reset_password"/>

    <h2>{{lang["public_key_reset"]}}</h2>

    {{lang["password_account"]}}
    <br>
    <input type="password" id="input_password" class="text_input_box">
    <br>

    {{lang["passphrase_new"]}}
    <br>
    <input type="password" id="input_new_keypass" class="text_input_box"/>
    <br>
    <input class="awesome_button" type="button" value="{{lang['public_key_reset']}} " id="button_reset_public_key"/>

    
    <h2>{{lang["account_delete"]}}</h2>


    {{lang['password']}}:
    <br>
    <input type="password" id="input_password_delete_account" class="text_input_box">
    <input class="dangerous_button" type="button" value="{{lang['delete_my_account']}}" id="button_delete_account">


    <h1>{{lang["local_storage"]}}</h1>

    <input type="button" value= "{{lang['save_messages_as_text_file']}}" id="button_save_messages" class="super_awesome_button">
    <br> 
    <br>
    <input class="dangerous_button" type="button" value= "{{lang['delete_all_messages_from_local_storage']}}" id="button_delete_local_storage_messages">

    {% include "footer.html" %}

    <script src="{{url_for('static', filename='/scripts/cryptico/cryptico.min.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/apis.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/settings.js')}}"> </script>


</body>
</html>