<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/stylesheets/style.css')}}">
    <title>{{lang['my_home']}}</title>
</head>

<body>

    
    {% include "navbar.html" %}


    <nav class="chats_bar" id="chats_bar"> 
        <h3>{{lang['your_chats']}}:</h3>
        <div style=" overflow-x: hidden; overflow-y: auto; height: 100px; width: 100%;"  id="navbar_list"></div>
        
        <div style="position: absolute; bottom: 5%; left: 2%;">   
            <label for="input_destname">{{lang['chat_open']}}</label> 
            <input type="text" name="" id="input_destname" class="text_input_box" size=10 placeholder="trollslayer-1012">
        </div>

    </nav>



    <h2 style="display: inline;" id="title_chat_name"></h2>
    <img id="image_other_guys_avatar" src="" alt=""  style="width: 30px; border-radius: 60px;">


    <div id="div_inbox" class="scroll_bar"></div>

    <div class="chat_input_bar"> <input class="message_input_bar" type="text" name="" id="input_message_text" placeholder="{{lang['type_in_a_message']}}">  <input class="awesome_button" type="button" value="{{lang['send']}}" id="button_send_message"> </div>


   {% include "footer.html" %}

    <!--hidden images, to be used by scripts-->
    <img hidden display="none" id="verified" src="{{url_for('static', filename='/icons/verified.png')}}" alt="">
    <img hidden display="none" id="unsigned" src="{{url_for('static', filename='/icons/unsigned.png')}}" alt="">
    <img hidden display="none" id="forged" src="{{url_for('static', filename='/icons/forged.png')}}" alt="">


    <!--run scripts once the page is loaded-->
    <script src="{{url_for('static', filename='/scripts/cryptico/cryptico.min.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/apis.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/user_home.js')}}"> </script>
    
</body>
</html>