<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/stylesheets/style.css')}}">
    <title>My Home</title>
</head>

<body>


    <nav class="top_nav_bar" id="top_nav_bar">
        <button id="button_logout" class="navbar_button" type="button">Log Out</button>    
        <button class="navbar_button" onclick="location.href='/settings'" type="button">Settings</button>    
    </nav>



    <nav class="chats_bar" id="chats_bar"> 
        <h3>Your Chats:</h3>
        <div style="overflow-y: auto; height: 100px;"  id="navbar_list"></div>
        <div style="position: absolute; bottom: 10;"><label for="input_destname">Open chat:</label> <input type="text" name="" id="input_destname" class="text_input_box" size=10></div>
    </nav>


    <h1 id="title_one"></h1>
    
    <div id="div_inbox" class="scroll_bar"></div>

    <div class="chat_input_bar"> <input class="text_input_box" type="text" name="" id="input_message_text" placeholder="Type in a message...">  <input class="awesome_button" type="button" value="Send" id="button_send_message"> </div>




    <footer>
        <p>Aiman Al Masoud © 2022 - This website's source is free software, licensed under GNU GPL v3. <a href="/about">More Info.</a> </p>
    </footer>

    

    <!--hidden images, to be used by scripts-->
    <img hidden display="none" id="verified" src="{{url_for('static', filename='/icons/verified.png')}}" alt="">
    <img hidden display="none" id="unsigned" src="{{url_for('static', filename='/icons/unsigned.png')}}" alt="">
    <img hidden display="none" id="forged" src="{{url_for('static', filename='/icons/forged.png')}}" alt="">


    <!--run scripts once the page is loaded-->
    <script src="{{url_for('static', filename='/scripts/cryptico/cryptico.min.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/apis.js')}}"> </script>
    <script src="{{url_for('static', filename='/scripts/user_home.js')}}"> </script>
    
</body>
</html>